# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: build android

on:
  workflow_dispatch: {}

jobs:
  build:
    runs-on: windows-latest
    defaults:
      run:
        working-directory: ./GalaxyBudsClient.Android
    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build -f net8.0-android -c Debug -p:AndroidPackageFormats=$1 -p:EmbedAssembliesIntoApk=true -p:$2 -v d
    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v5.0.0
      with:
        # A file, directory or wildcard pattern that describes what to upload
        path: bin/Debug/net8.0-android/*.apk
                
